* {
    margin: 0;
    /* padding: 0; */
}
body{
}

.contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/*Foto del dia*/

.jumbotron {
    /* box-sizing: border-box; */
    max-height: 700px;
    /* height: 500px; */
    width: 100%;
}

.jumbotron img {
    
    object-fit: fill;
}

#api-imgday{
    max-height: 300px;
}
/*Fotos del rover*/

.photos-rover {
    display: grid;
    gap: .5rem;
    /* grid-template-columns: repeat(auto-fit,minmax(10rem,1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    /* grid-auto-rows: 100%; */
    /*
    overflow-x: hidden;
    verflow-y: scroll; */
}